*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
